$font-folder: './assets/fonts/proximanova/' !default;
@font-face{font-family:'proxima_nova_bold'; font-display: auto; src:url('#{$font-folder}proximanova-bold-webfont.woff') format('woff');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_novasemibold'; font-display: auto; src:url('#{$font-folder}proximanova-semibold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'proxima_novalight'; font-display: auto; src:url('#{$font-folder}proximanova-light-webfont.woff') format('woff');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_rgregular'; font-display: auto; src:url('#{$font-folder}proximanova-regular-webfont.woff') format('woff');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_novaregular_italic'; font-display: auto; src:url('#{$font-folder}proximanova-regularitalic-webfont.woff') format('woff');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_thinthin';  font-display: auto; src:url('#{$font-folder}proximanovat-thin-webfont.woff') format('woff'); font-weight:normal; font-style:normal;}

// Proxima Nova
$proxima-nova: "proxima_nova_regular", Arial, Helvetica, sans-serif;
$proxima-nova-bold: "proxima_nova_bold", Arial, Helvetica, sans-serif;
$proxima-nova-semibold: "proxima_novasemibold", Arial, Helvetica, sans-serif;
$proxima-nova-light: "proxima_novalight", Arial, Helvetica, sans-serif;
$proxima-nova-italic: "proxima_novaregular_italic" Arial, Helvetica, sans-serif;
$proxima-nova-thin: "proxima_nova_thinthin", Arial, Helvetica, sans-serif;